IMPORTING LIBRARIES

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

IMPORTING DATA

In [2]:
data = pd.read_csv("Data - Data.csv")
data

,Year,GDP,Revenue expenditure,Capital expenditure,Total Expenditure
0,FY84,209356.0,22251,13283,35534
1,FY85,235113.0,27691,15941,43632
2,FY86,262717.0,33924,18742,52666
3,FY87,292924.0,40860,22056,62916
4,FY88,332068.0,46174,22087,68261
5,FY89,396295.0,54106,25005,79111
6,FY90,456540.0,64210,28698,92908
7,FY91,531814.0,73516,31782,105298
8,FY92,613528.0,82292,29122,111414
9,FY93,703723.0,92702,29916,122618
10,FY94,817961.0,108169,33684,141853
11,FY95,955386.0,122112,38627,160739
12,FY96,1118586.0,139861,38414,178275
13,FY97,1301788.0,158933,42074,201007
14,FY98,1447613.0,180335,51718,232053
15,FY99,1668739.0,216461,62879,279340
16,FY00,1858205.0,249078,48975,298053
17,FY01,2000743.0,277839,47753,325592
18,FY02,2175260.0,301468,60842,362310
19,FY03,2343864.0,338713,74535,413248
20,FY04,2625819.0,362074,109129,471203
21,FY05,2971464.0,384329,113331,498252
22,FY06,3390503.0,439376,66362,505738
23,FY07,3953276.0,514609,68778,583387
24,FY08,4582086.0,594433,118238,712671
25,FY09,5303567.0,793798,90158,883956
26,FY10,6108903.0,911809,112678,1024487
27,FY11,7248860.0,1040723,156605,1197328
28,FY12,8391691.0,1145785,158580,1304365
29,FY13,9388876.0,1243514,166858,1410372
30,FY14,10472807.0,1371772,187675,1559447
31,FY15,12467959.0,1466992,196681,1663673
32,FY16,13771874.0,1537761,253022,1790783
33,FY17,15391669.0,1690584,284610,1975194
34,FY18,17090042.0,1878833,263140,2141973
35,FY19,18886957.0,2007399,307714,2315113
36,FY20,20351013.0,2350604,335726,2686330
37,FY21,19745670.0,3083519,426317,3509836

CREATING THE YOY CHANGE DATA TO FIT INTO MODEL

In [3]:
data_array = np.array(data)
new_arr = []
for i in range(len(data_array)-1):
    
    t_1 = data_array[i]
    t = data_array[i+1]

    year = f'{t[0]} - {t_1[0]}'

    gdp = float(t[1]) - float(t_1[1])
    revenue = float(t[2]) - float(t_1[2])
    capital = float(t[3]) - float(t_1[3])
    total = float(t[4]) - float(t_1[4])

    new_arr.append([year, gdp, revenue, capital, total])

yoy_change_data = pd.DataFrame(new_arr, columns=["Period", "GDP", "Revenue expenditure", "Capital expenditure", "Total expenditure"])
yoy_change_data = yoy_change_data.drop(36) #Dropping the last observation since economy was hit by covid, a black swan event and there was no data ahead of it to bother with dummy variable
yoy_change_data

,Period,GDP,Revenue expenditure,Capital expenditure,Total expenditure
0,FY85 - FY84,25757.0,5440.0,2658.0,8098.0
1,FY86 - FY85,27604.0,6233.0,2801.0,9034.0
2,FY87 - FY86,30207.0,6936.0,3314.0,10250.0
3,FY88 - FY87,39144.0,5314.0,31.0,5345.0
4,FY89 - FY88,64227.0,7932.0,2918.0,10850.0
5,FY90 - FY89,60245.0,10104.0,3693.0,13797.0
6,FY91 - FY90,75274.0,9306.0,3084.0,12390.0
7,FY92 - FY91,81714.0,8776.0,-2660.0,6116.0
8,FY93 - FY92,90195.0,10410.0,794.0,11204.0
9,FY94 - FY93,114238.0,15467.0,3768.0,19235.0
10,FY95 - FY94,137425.0,13943.0,4943.0,18886.0
11,FY96 - FY95,163200.0,17749.0,-213.0,17536.0
12,FY97 - FY96,183202.0,19072.0,3660.0,22732.0
13,FY98 - FY97,145825.0,21402.0,9644.0,31046.0
14,FY99 - FY98,221126.0,36126.0,11161.0,47287.0
15,FY00 - FY99,189466.0,32617.0,-13904.0,18713.0
16,FY01 - FY00,142538.0,28761.0,-1222.0,27539.0
17,FY02 - FY01,174517.0,23629.0,13089.0,36718.0
18,FY03 - FY02,168604.0,37245.0,13693.0,50938.0
19,FY04 - FY03,281955.0,23361.0,34594.0,57955.0
20,FY05 - FY04,345645.0,22255.0,4202.0,27049.0
21,FY06 - FY05,419039.0,55047.0,-46969.0,7486.0
22,FY07 - FY06,562773.0,75233.0,2416.0,77649.0
23,FY08 - FY07,628810.0,79824.0,49460.0,129284.0
24,FY09 - FY08,721481.0,199365.0,-28080.0,171285.0
25,FY10 - FY09,805336.0,118011.0,22520.0,140531.0
26,FY11 - FY10,1139957.0,128914.0,43927.0,172841.0
27,FY12 - FY11,1142831.0,105062.0,1975.0,107037.0
28,FY13 - FY12,997185.0,97729.0,8278.0,106007.0
29,FY14 - FY13,1083931.0,128258.0,20817.0,149075.0
30,FY15 - FY14,1995152.0,95220.0,9006.0,104226.0
31,FY16 - FY15,1303915.0,70769.0,56341.0,127110.0
32,FY17 - FY16,1619795.0,152823.0,31588.0,184411.0
33,FY18 - FY17,1698373.0,188249.0,-21470.0,166779.0
34,FY19 - FY18,1796915.0,128566.0,44574.0,173140.0
35,FY20 - FY19,1464056.0,343205.0,28012.0,371217.0

TAKING COMPONENTS FOR GDP, REVENUE&CAPITAL EXPENDITURE AND TOTAL EXPENDITURE TO FIT INTO MODELS

In [4]:
#GDP
yGDP = np.array(yoy_change_data.iloc[:, 1]).reshape(-1,1)

#Revenue and Capital expenditure
xExpenditure = np.array(yoy_change_data.iloc[:, 2:4])

#Total expenditure
xTotal_expenditure = np.array(yoy_change_data.iloc[:, -1]).reshape(-1,1)

CREATIND MODEL TAKING REVENUE AND CAPITAL EXPENDITURE       
Y = a + b*(revenue expenditure) + c*(capital expenditure)

In [5]:
#Creating Model
rev_cap_model = LinearRegression()

#Fitting the data into it
rev_cap_model.fit(xExpenditure, yGDP)

print("Accuracy score = ",rev_cap_model.score(xExpenditure, yGDP))
print("Coefficients = ",rev_cap_model.coef_)

Accuracy score =  0.6557919639958737
Coefficients =  [[6.04334406 6.50288673]]

CREATING MODEL TAKING TOTAL EXPENDITURE             
Y = a + b*(total expenditure)

In [6]:
#creating model
Total_exp_model = LinearRegression()

#Fitting data into it
Total_exp_model.fit(xTotal_expenditure, yGDP)

print("Accuracy score = ",Total_exp_model.score(xTotal_expenditure, yGDP))
print("Coefficients = ",Total_exp_model.coef_)

Accuracy score =  0.6554798310408803
Coefficients =  [[6.094754]]

SINCE INDIAN ECONOMY HAD GONE THROUGH MASSIVE REFORM IN 1991 AS IT OPENED ITS WISER TO ADD A DUMMY SEPERATING THE TWO ERAS AS GDP GROWTH WAS MUCH HIGHER AFTERWARDS

In [7]:
#Creating a new dataframe
new_change_data = pd.DataFrame(yoy_change_data, columns=yoy_change_data.columns)

#Adding dummy variable
new_change_data["Dummy 1"] = 0
new_change_data["Dummy 1"] = new_change_data["Dummy 1"].mask(new_change_data.index > 6, 1)

new_change_data

,Period,GDP,Revenue expenditure,Capital expenditure,Total expenditure,Dummy 1
0,FY85 - FY84,25757.0,5440.0,2658.0,8098.0,0
1,FY86 - FY85,27604.0,6233.0,2801.0,9034.0,0
2,FY87 - FY86,30207.0,6936.0,3314.0,10250.0,0
3,FY88 - FY87,39144.0,5314.0,31.0,5345.0,0
4,FY89 - FY88,64227.0,7932.0,2918.0,10850.0,0
5,FY90 - FY89,60245.0,10104.0,3693.0,13797.0,0
6,FY91 - FY90,75274.0,9306.0,3084.0,12390.0,0
7,FY92 - FY91,81714.0,8776.0,-2660.0,6116.0,1
8,FY93 - FY92,90195.0,10410.0,794.0,11204.0,1
9,FY94 - FY93,114238.0,15467.0,3768.0,19235.0,1
10,FY95 - FY94,137425.0,13943.0,4943.0,18886.0,1
11,FY96 - FY95,163200.0,17749.0,-213.0,17536.0,1
12,FY97 - FY96,183202.0,19072.0,3660.0,22732.0,1
13,FY98 - FY97,145825.0,21402.0,9644.0,31046.0,1
14,FY99 - FY98,221126.0,36126.0,11161.0,47287.0,1
15,FY00 - FY99,189466.0,32617.0,-13904.0,18713.0,1
16,FY01 - FY00,142538.0,28761.0,-1222.0,27539.0,1
17,FY02 - FY01,174517.0,23629.0,13089.0,36718.0,1
18,FY03 - FY02,168604.0,37245.0,13693.0,50938.0,1
19,FY04 - FY03,281955.0,23361.0,34594.0,57955.0,1
20,FY05 - FY04,345645.0,22255.0,4202.0,27049.0,1
21,FY06 - FY05,419039.0,55047.0,-46969.0,7486.0,1
22,FY07 - FY06,562773.0,75233.0,2416.0,77649.0,1
23,FY08 - FY07,628810.0,79824.0,49460.0,129284.0,1
24,FY09 - FY08,721481.0,199365.0,-28080.0,171285.0,1
25,FY10 - FY09,805336.0,118011.0,22520.0,140531.0,1
26,FY11 - FY10,1139957.0,128914.0,43927.0,172841.0,1
27,FY12 - FY11,1142831.0,105062.0,1975.0,107037.0,1
28,FY13 - FY12,997185.0,97729.0,8278.0,106007.0,1
29,FY14 - FY13,1083931.0,128258.0,20817.0,149075.0,1
30,FY15 - FY14,1995152.0,95220.0,9006.0,104226.0,1
31,FY16 - FY15,1303915.0,70769.0,56341.0,127110.0,1
32,FY17 - FY16,1619795.0,152823.0,31588.0,184411.0,1
33,FY18 - FY17,1698373.0,188249.0,-21470.0,166779.0,1
34,FY19 - FY18,1796915.0,128566.0,44574.0,173140.0,1
35,FY20 - FY19,1464056.0,343205.0,28012.0,371217.0,1

CREATING A NEWER MODEL USING THIS DUMMY VARIABLE ALONG WITH THE TOTAL EXPENDITURE                   
Y = a + b*(Total expenditure) + c*(Dummy variable)

In [8]:
#Taking both total expenditure and dummy variable for predicting variable
x2Total_expenditure = new_change_data.iloc[:, -2:]

#Creating model
newTotal_expenditure_model = LinearRegression()

#Fitting data into it
newTotal_expenditure_model.fit(np.array(x2Total_expenditure), yGDP)

print("Accuracy score : ", newTotal_expenditure_model.score(np.array(x2Total_expenditure), yGDP))
print("Coeffecients = ", newTotal_expenditure_model.coef_)

Accuracy score :  0.6683250286858148
Coeffecients =  [[5.72514516e+00 1.84869422e+05]]

ADDING THE DUMMY VARIABLE INCREASED THE ACCURACY, NOW WE WILL ADD ANOTHER DUMMY VARIABLE FORMED BY (Total Expenditure)*(Dummy 1) TO SEE IF WE CAN GET EVEN BETTER RESULTS

In [9]:
new_change_data["Dummy 2"] = new_change_data["Total expenditure"]*new_change_data["Dummy 1"]
new_change_data

,Period,GDP,Revenue expenditure,Capital expenditure,Total expenditure,Dummy 1,Dummy 2
0,FY85 - FY84,25757.0,5440.0,2658.0,8098.0,0,0.0
1,FY86 - FY85,27604.0,6233.0,2801.0,9034.0,0,0.0
2,FY87 - FY86,30207.0,6936.0,3314.0,10250.0,0,0.0
3,FY88 - FY87,39144.0,5314.0,31.0,5345.0,0,0.0
4,FY89 - FY88,64227.0,7932.0,2918.0,10850.0,0,0.0
5,FY90 - FY89,60245.0,10104.0,3693.0,13797.0,0,0.0
6,FY91 - FY90,75274.0,9306.0,3084.0,12390.0,0,0.0
7,FY92 - FY91,81714.0,8776.0,-2660.0,6116.0,1,6116.0
8,FY93 - FY92,90195.0,10410.0,794.0,11204.0,1,11204.0
9,FY94 - FY93,114238.0,15467.0,3768.0,19235.0,1,19235.0
10,FY95 - FY94,137425.0,13943.0,4943.0,18886.0,1,18886.0
11,FY96 - FY95,163200.0,17749.0,-213.0,17536.0,1,17536.0
12,FY97 - FY96,183202.0,19072.0,3660.0,22732.0,1,22732.0
13,FY98 - FY97,145825.0,21402.0,9644.0,31046.0,1,31046.0
14,FY99 - FY98,221126.0,36126.0,11161.0,47287.0,1,47287.0
15,FY00 - FY99,189466.0,32617.0,-13904.0,18713.0,1,18713.0
16,FY01 - FY00,142538.0,28761.0,-1222.0,27539.0,1,27539.0
17,FY02 - FY01,174517.0,23629.0,13089.0,36718.0,1,36718.0
18,FY03 - FY02,168604.0,37245.0,13693.0,50938.0,1,50938.0
19,FY04 - FY03,281955.0,23361.0,34594.0,57955.0,1,57955.0
20,FY05 - FY04,345645.0,22255.0,4202.0,27049.0,1,27049.0
21,FY06 - FY05,419039.0,55047.0,-46969.0,7486.0,1,7486.0
22,FY07 - FY06,562773.0,75233.0,2416.0,77649.0,1,77649.0
23,FY08 - FY07,628810.0,79824.0,49460.0,129284.0,1,129284.0
24,FY09 - FY08,721481.0,199365.0,-28080.0,171285.0,1,171285.0
25,FY10 - FY09,805336.0,118011.0,22520.0,140531.0,1,140531.0
26,FY11 - FY10,1139957.0,128914.0,43927.0,172841.0,1,172841.0
27,FY12 - FY11,1142831.0,105062.0,1975.0,107037.0,1,107037.0
28,FY13 - FY12,997185.0,97729.0,8278.0,106007.0,1,106007.0
29,FY14 - FY13,1083931.0,128258.0,20817.0,149075.0,1,149075.0
30,FY15 - FY14,1995152.0,95220.0,9006.0,104226.0,1,104226.0
31,FY16 - FY15,1303915.0,70769.0,56341.0,127110.0,1,127110.0
32,FY17 - FY16,1619795.0,152823.0,31588.0,184411.0,1,184411.0
33,FY18 - FY17,1698373.0,188249.0,-21470.0,166779.0,1,166779.0
34,FY19 - FY18,1796915.0,128566.0,44574.0,173140.0,1,173140.0
35,FY20 - FY19,1464056.0,343205.0,28012.0,371217.0,1,371217.0

CREATING ANOTHER MODEL USING BOTH DUMMIES AND TOTAL EXPENDITURE                   
Y = a + b*(Total Expenditure) + c*(Dummy 1) + d*(Dummy 2)

In [10]:
#Taking total expenditure and the two dummy variables
x3Total_expenditure = new_change_data.iloc[:, -3:]

#Creating model
nextTotal_expenditure_model = LinearRegression()

#Fitting data into it
nextTotal_expenditure_model.fit(np.array(x3Total_expenditure), yGDP)

print("Accuracy score : ", nextTotal_expenditure_model.score(np.array(x3Total_expenditure), yGDP))
print("Coeffecients = ", nextTotal_expenditure_model.coef_)

Accuracy score :  0.6683285844881433
Coeffecients =  [[4.74897117e+00 1.75118774e+05 9.76419153e-01]]

NOW WE HAVE TO CHECK WHETHER ACCURACY INCREASE IN THE NEW MODEL IS STATISTICALLY SIGNIFICANT AND WORTH ADDING AN EXTRA VARIABLE                     

TO DO THIS WE WILL CONDUCT THE PARTIAL F TEST FOR COMPARING TWO LR MODELS               

F = ((SS1 - SS2)/(df1 - df2))/(SS2/df2)                 
SS : Sum of sqaured errors                                  
df : Degree of freedom                  
1 : Reduced model               
2 : Full model

Step 1 : Calculating the sum of sqaured errors for both models

In [11]:
new_SSE = 0
for i in range(len(x2Total_expenditure)):
    new_SSE += (newTotal_expenditure_model.predict([[x2Total_expenditure.iloc[i,0], x2Total_expenditure.iloc[i,1]]]) - yGDP[i])**2

next_SSE = 0
for i in range(len(x3Total_expenditure)):
    next_SSE += (nextTotal_expenditure_model.predict([[x3Total_expenditure.iloc[i,0], x3Total_expenditure.iloc[i,1], x3Total_expenditure.iloc[i,2]]]) - yGDP[i])**2

print(new_SSE - next_SSE)

[[44918512.46875]]

Step 2: Calculating the mean squared error for the full model(nextTotal_expenditure_model) and finding F value

In [12]:
next_MSE = next_SSE/len(x3Total_expenditure)
f = (new_SSE - next_SSE)/next_MSE
f

array([[0.00038595]])

The calculated F statistic is lower than the critical F and hence null hypothesis cannot be rejected so the reduced model(newTotal_expenditure_model) is better than full model(nextTotal_expenditure_model)